<% @phones.each do |phone|%>
<%= phone.name %><br/>
<% end %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="index">

    <div class="row">
      <% 10.times do %>
          <div class="col-xs-12 col-sm-6 col-md-4">Mobile</div>
      <% end %>


    </div>

  </div>
</body>
</html>