<% @phones.each do |phone| %>
    <%= phone.name %><br/>
<% end %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="phones-index">
  <div class="row">
    <% 10.times do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="col-xs-10 col-xs-offset-1">
            <img class="phone-img"
                 src="https://vinhphatmobile.com/images/thumbnails/212/212/detailed/9/1_fkor-bv.png">
            <div class="phone-name">Apple iPhone 6s 32GB</div>
            <div class="phone-price">12.000.000 d</div>
            <div class="phone-cart">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span class="buy">MUA NGAY</span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
</body>
</html>