<div class="phone-index">

  <div type class="phone-name">
    <span class="name"><%= @phone.name %></span>
  </div>
    <div class="row">
      <div class="phone-image col-xs-12 col-sm-6 col-md-4">
        <img class="image" style="min-width: 212px;min-height: 212px;display: inline;"
             src="http://lorempixel.com/212/212">
      </div>
    <div class="small-description col-xs-12 col-sm-6 col-md-4">
      <div class="phone-option">
        <button type="button" class="btn btn-warning">16.000.000 d
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
      <div class="rate">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<div class="phone-desciption">
  <div class="row">
    <div class="description col-xs-12 col-sm-2 col-md-2 ">
      <p>Description </p>
      <i class="fa fa-sort-desc" data-toggle="collapse" data-target="#demo" aria-hidden="true"></i>

    </div>
    <div id ="demo" class=" collapsed col-xs-12 col-sm-10 col-md-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales eget arcu sit amet convallis.
        Vivamus tellus dolor, egestas sit amet nulla tempus, molestie ultrices lorem. Phasellus accumsan dui
        ac neque tincidunt dignissim. Duis tincidunt elit ante, quis hendrerit libero iaculis eu. Morbi
        elementum condimentum urna vel sodales. Ut quis leo sem. Duis sed faucibus sapien, non vestibulum justo.
        Nullam sodales diam eu leo condimentum porta. Donec et enim volutpat, congue nibh et, iaculis nisi.
        Mauris feugiat nec ligula a sagittis. Aenean scelerisque dapibus arcu nec ullamcorper. Quisque leo velit,
        bibendum ornare porttitor ac, porttitor id mi. Morbi nec nisi lectus. Quisque vestibulum rutrum leo et
        mattis. Cras venenatis volutpat efficitur..</p>
    </div>
  </div>
</div>

<div class="phone-specifiction">
  <div class="row">
    <div class="specification col-xs-12 col-sm-2 col-md-2 ">
      <p>Specification</p>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
        <ul class="parameters">
          <li>
            <span>Man hinh</span>
            <div>LED</div>
          </li>
          <li>
            <span>He dieu hanh</span>
            <div>Android 5.0</div>
          </li>
          <li>
            <span>Camera sau</span>
            <div>15 MP</div>
          </li>
          <li>
            <span>Camera truoc</span>
            <div>5 MP</div>
          </li>
        </ul>
    </div>
  </div>
</div>