.admin-login-container {
  margin-left: 40%;
  border-radius: 4px;
  margin-bottom: 15px;

  h2 {
    margin-left: 50px;
  }

  .field {
      margin-bottom: 15px;
  }

  .actions {
    margin-left: 55px;
  }
}
