<div class="manage-show">
  <%= form_for [:manages, @category] do |f| %>
      <div class="brand-index col-md-12">
        <div class="row">
          <div class="brand-form col-md-12">
            <div class="brand-name col-md-2">Brand Name</div>
            <div class="col-md-3"><%= f.text_field :brand_name %></div>
            <div class="col-md-7">
              <% if @category.errors.any? %>
                  <div id="error_explanation">
                    <ul>
                      <% @category.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="submit"><%= f.submit %></div>
  <% end %>
</div>
