.container{

  .carts-show {

    .sum-of-phone {
      margin-bottom: 10px;


     .badge {

       font-size: 15px;
       background-color: #a6a5a5;
       color: black;
     }

    }
    .badge {

      font-size: 15px;
      background-color: #a6a5a5;
      color: black
    }

    .list_cart_line {
      margin-top: 10px;


      .show-container {
        margin-bottom: 15px;
        border: 1px solid rgba(210, 205, 208, 0.58);
        border-radius: 4px;




        .phone-price {
          font-size: 17px;
          font-weight: bold;
          color: red;

        }

        a {

          i {
            font-size: 20px;
            color: #82B64A;

          }
        }

        .phone-name {
          font-weight: bold;
          font-size: 15px;
        }

      }
    }
  }
}