.navigation {
  background-color: #3b5998;
  color: white;
  .left {

    .fa-mobile {
      float: left;
      margin-left: 15px;
      line-height: 62px;
      font-size: 48px;
    }
    .name {
      float: left;
      margin-left: 15px;
      line-height: 62px;
      font-size: 26px;
    }

  }
  .right {
    float: right;
    .fa-shopping-cart {
      margin-right: 10px;
      line-height: 62px;
      font-size: 26px;
    }
    .fa-bars {
      margin-right: 15px;
      line-height: 62px;
      font-size: 26px;
    }
  }

}
