.order-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  color: #95d456;
  border-bottom: 1px solid darkgray;
}

.order-history {
  margin-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  .list-order {

    .order-columes {
      padding-left: 0;
      padding-right: 0;
      border-bottom: 1px solid darkgray;
      margin-bottom: 5px;
    }

    .order-columes-field {
      padding-left: 0;
      padding-right: 0;
    }

    .order-number {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    .order-date {
      padding-left: 0;
      padding-right: 0;
    }

    .order-total {
      padding-left: 0;
      padding-right: 0;
    }

    .order-status {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .empty-order {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.back-to-shopping {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  .btn {
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #82b64a;
    padding: 2px 8px 2px 8px;
    width: 130px;
  }
}

.pagination-container {
  margin-right: 10px;
  font-weight: bold;

  .pagination-large {
    line-height: 60px;

    a {
      color: #82B64A;
      margin-right: 6px;
    }

    .page.current {
      margin-right: 6px;
    }
  }

  .pagination-normal {
    .page {
      margin-right: 15px;

      a {
        color: #82B64A;
        text-decoration: none;
      }
    }

    .buttons {
      margin-top: 15px;
      margin-bottom: 15px;

      .first, .prev, .next, .last {
        margin-right: 5px;
        border: 1px solid darkgray;
        border-radius: 5px;
        background-color: #82B64A;
        padding: 5px;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.carts-show {
  padding-left: 0;
  padding-right: 0;

  .total {
    padding-left: 0;
    padding-right: 0;
    margin-top: 25px;
    margin-bottom: 25px;

    .badge {
      font-size: 15px;
      background-color: #a6a5a5;
      color: black;
    }
  }

  .list_cart_line {

    padding-left: 0;
    padding-right: 0;
    .empty-cart {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 100px;
    }
    .show-container {
      margin-bottom: 5px;

      .phone-img {
        width: 100%;
        object-fit: cover;

        @media (min-width: 768px) {
          min-width: 257.5px;
          min-height: 257.5px;
          max-height: 257.5px;
        }

        @media (min-width: 992px) {
          min-width: 257.5px;
          min-height: 257.5px;
          max-height: 257.5px;
        }
      }

      .phone-name {

        font-weight: bold;

        a {
          text-decoration: none;
          color: #0c1525;
        }
      }

      .phone-price {
        font-weight: bold;
      }

      .add-remove {
      }
    }
  }
}

.order-new {
  padding-left: 0;
  padding-right: 0;

  .your-order {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid darkgray;
    font-size: large;
  }
  .total {
    padding-left: 0;
    padding-right: 0;
    margin-top: 25px;
    text-align: right;

    .badge {
      font-size: 15px;
      background-color: #a6a5a5;
      color: black;
    }
  }

  .list_cart_line {

    .checkout {
      text-align: center;
      margin-top: 25px;
      .btn {

        border: 1px solid darkgray;
        border-radius: 5px;
        background-color: #82b64a;
        padding: 2px 8px 2px 8px;
      }
    }

    padding-left: 0;
    padding-right: 0;
    .empty-cart {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 100px;
    }
    .show-container {
      border-bottom: 1px solid darkgray;
      margin-bottom: 5px;

      .phone-img {
        width: 100%;
        max-height: 66px;
        object-fit: cover;

        @media (min-width: 768px) {
          min-width: 257.5px;
          min-height: 257.5px;
          max-height: 257.5px;
        }

        @media (min-width: 992px) {
          min-width: 257.5px;
          min-height: 257.5px;
          max-height: 257.5px;
        }
      }

      .phone-name {

        font-weight: bold;
        padding-left: 0;
        padding-right: 0;
        a {
          text-decoration: none;
          color: #0c1525;
        }
      }

      .phone-price {
        font-weight: bold;
      }
      .sub-total {
        font-weight: bold;
      }
      .add-remove {
      }
    }
  }
}

.order-details-index {

  .order-details {
    margin-top: 25px;
    margin-bottom: 25px;

    .order-detail-name {
      margin-top: 25px;
      font-size: 25px;
      font-weight: bold;
    }
  }

  .phone_name {
    a {
      color: #0c1525;
      font-weight: bold;
      text-decoration: none;
    }

  }

  .order-details-total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }

  .order-details-back {
    .btn {
      border: 1px solid darkgray;
      border-radius: 5px;
      background-color: #82b64a;
      padding: 2px 8px 2px 8px;
      width: 130px;
    }
  }

}