.phone-show{

  .phone-index {
    margin-bottom: 15px;

    .phone-name {

      .name {
        font-size: 24px;
        margin-left: 10px;
        font-weight: bold;
      }
    }

    .phone-option{
      .price-button{
        width: 110px;
      }
    }

    .phone-image {
      margin-top: 15px;
      text-align: center;
      display: inline;

      .image{
        width: 221px;
        height: 221px;
        object-fit: cover;
      }
    }

    .small-description {
      margin-top: 15px;
      text-align: center;
    }
    .btn-default{
      background-color: #82b64a;
      color: white;
    }
  }

  .phone-desciption {
    margin-bottom: 15px;

    .description {
      margin-top: 15px;
      font-size: 17px;
      color: #82b64a;
    }

    #des {
      margin-top: 15px;
      text-align: justify;
    }
  }

  .phone-specifiction {
    margin-bottom: 15px;

    .specification {
      margin-top: 15px;
      font-size: 17px;
      color: #82b64a;
    }

    .key{
      font-weight: bold;
      text-align: left;
    }

    #param {
      margin-top: 15px;

    }
  }

  .phone-review {
    margin-bottom: 15px;

    .review {
      margin-top: 15px;
      font-size: 17px;
      color: #82b64a;
    }

    .summary {
      margin-top: 15px;
      text-align: left;

      .liststars {
        text-align: center;
      }

      .add-review-button {
        text-align: center;
      }
    }
  }

  .reviews {
    margin-bottom: 15px;

    .name{
      margin-top: 15px;
      font-weight: bold;
    }

    .rating{
      margin-top: 15px;
    }

    .comment{
      margin-top: 10px;
      text-align: justify;
    }
  }

  .row {
    border-top: 1px solid darkgray;
  }

  .stars {
    color: orange;
  }

  .collapse-button{
    color: #82b64a;

  }

  .rating-container{
    padding-left: 0;
    padding-right: 0;
    border: 1px solid orange;
    height: 20px;
    margin-bottom: 2px;
  }

  .rating-progress{
    border: 1px solid orange;
    background-color: orange;
    height: 19px;
  }

}
