.phone-index{
  .phone-name{
    .name{
      font-size: 24px;
      margin-left: 10px;
    }
  }

  .phone-image{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rate{
    color: yellow;
  }
}
.phone-desciption{
  .description{
    font-size: 17px;
    color: #6694ff;
    margin-top: 20px;
  }
}

.phone-specifiction{
  .specification{
    font-size: 17px;
    color: #6694ff;
    margin-top: 20px;
  }
}
.row{
  border-top: 1px solid darkgrey;
  margin-top: 10px;
}



