<div class="manage-phone-edit">
  <%= render 'form' %>
</div>
<div>
  <div class="navigate-button col-md-2">
    <%= link_to 'Preview', [:manages,@phone] %>
  </div>
  <div class="navigate-button col-md-2">
    <%= link_to 'Manages Phone',  manages_phones_path %>
  </div>
</div>

